* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0000ff",GradientType=1);
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  text-decoration: dotted;
  font-size: 45px;
  text-align: center;
}
