.contenido {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 255) 100%);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contenido img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.descripcion {
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
}

.texto-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-desc ul {
  width: 60%;
  color: antiquewhite;
}
h2 {
  margin: 10px 0;
  padding: 10px;
  color: white;
  font-size: 30px;
  text-decoration: solid;
}
h2:hover {
  color: red;
}

.texto-desc-p {
  padding: 10px;
  margin: 10px 0;
  color: antiquewhite;
}
.texto-desc-p2 {
  padding: 100px;
  margin: 10px 0;
  color: white;
  font-size: 20px;
}
.texto-desc-p,
.texto-desc-p2,
h2 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
