.contenido-pag-2 {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 255) 100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.texto-contenido {
  flex: 1;
  padding-right: 20px;
}

.video-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  flex: 1;
}

.video-container {
  width: 100%;
  max-width: 400px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .contenido-pag-2 {
    flex-direction: column;
    align-items: center;
  }

  .video-container-right {
    align-items: center;
  }
}
/* Pantallas peque침as (menos de 600px de ancho) */
@media screen and (max-width: 599px) {
  .contenido-pag-2 {
    flex-direction: column;
    align-items: center;
  }

  .video-container-right {
    align-items: center;
  }
  /* Estilos para dispositivos m칩viles */
}

/* Pantallas medianas (600px a 1024px) */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contenido-pag-2 {
    flex-direction: column;
    align-items: center;
  }

  .video-container-right {
    align-items: center;
  }
  /* Estilos para tabletas y laptops */
}

/* Pantallas grandes (m치s de 1920px de ancho) */
@media screen and (min-width: 1920px) {
  .contenido-pag-2 {
    flex-direction: column;
    align-items: center;
  }

  .video-container-right {
    align-items: center;
  }
}
/* Pantallas con resoluci칩n 2560x1440 */
@media screen and (min-width: 2560px) {
  .contenido-pag-2 {
    flex-direction: column;
    align-items: center;
  }

  .video-container-right {
    align-items: center;
  }

  /* Estilos para pantallas de 27 pulgadas y mayores */
}
