.contenido-pag-2 {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 255) 100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.texto-contenido {
  flex: 1;
  padding-right: 20px;
}

.video-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  flex: 1;
}

.video-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border: solid 5px rgb(0, 0, 0);
}

.video-container iframe {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .contenido-pag-2
    .video-container
    .video-container
    iframe
    .video-container-right {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .video-container-right
    .video-container
    iframe
    .video-container
    .contenido-pag-2 {
    align-items: center;
    display: flex;
  }
}
